<article>
	<header class="text-right be-small">
	<%= time_ago_in_words(comment.created_at ) %> ago - 
	<%= link_to "Borrar", [@article,comment],method: :delete, :data => {:confirm => "Are you sure"}, class:"red" %>
	</header>
	<div class="row">
		<div class="col-xs-11 col-md-10">
 			<div class="box no-list">
				<%= comment.body %> -- <%= comment.user.email %> 
			</div>
		</div>
	</div>
</articles>